@import "mixins/main_mixins";
@import "mixins/obj";
@import "virable/main_var";
@import "fonts";

.input-group {
  box-shadow: none;
  border: none;
}
.input-group input {
  &:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da;
  }
}



